## Removing Unwanted columns

In [16]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("C:\Aditya\Python\Khushi Project\Raw_data_1Hr_2023_site_122_Mandir_Marg_Delhi_DPCC_1Hr.csv")

# Keep only the specified columns
columns_to_keep = ["Timestamp","PM2.5 (µg/m³)", "PM10 (µg/m³)", "CO (mg/m³)", "NO2 (µg/m³)", "SO2 (µg/m³)", "Ozone (µg/m³)"]
df = df[columns_to_keep]

# Save the modified DataFrame to a new CSV file
df.to_csv("C:\Aditya\Python\Khushi Project\Raw_data_1Hr_2023_site_122_Mandir_Marg_Delhi_DPCC_1Hr.csv", index=False)

## Renaming Column names

In [17]:
#modify the column names to PM2.5, PM10, CO, NO2, SO2, Ozone
df.columns = ["Time Stamp","PM2.5", "PM10", "CO", "NO2", "SO2", "Ozone"]
df.to_csv("Raw_data_1Hr_2023_site_122_Mandir_Marg_Delhi_DPCC_1Hr.csv", index=False)

## Combining all files

In [23]:
import pandas as pd
import glob

# List all CSV files in the directory
file_list = glob.glob("*.csv")

# Initialize an empty list to store DataFrames
dfs = []

# Iterate over each file, read it, and append it to the list
for file in file_list:
    df = pd.read_csv(file)
    dfs.append(df)

# Concatenate all DataFrames in the list
combined_df = pd.concat(dfs, ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv("MandirMarg_2018_2023.csv", index=False)

## checking null values

In [24]:
#count the null values in each column
combined_df.isnull().sum()

Time Stamp       0
PM2.5         3047
PM10          2817
CO            5531
NO2           3454
SO2           5761
Ozone         3200
dtype: int64

## Interpolating missing values

In [25]:
#interpolate the missing values
combined_df = combined_df.interpolate()

C:\Users\jetha\AppData\Local\Temp\ipykernel_29616\3858910929.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  combined_df = combined_df.interpolate()

In [26]:
#count the null values in each column
combined_df.isnull().sum()

Time Stamp    0
PM2.5         0
PM10          0
CO            0
NO2           0
SO2           0
Ozone         0
dtype: int64

In [27]:
#read MandirMarg_2018_2023.csv
df = pd.read_csv("MandirMarg_2018_2023.csv")
df.isnull().sum()

Time Stamp       0
PM2.5         3047
PM10          2817
CO            5531
NO2           3454
SO2           5761
Ozone         3200
dtype: int64

In [28]:
#interpolate the missing values
df = df.interpolate()

C:\Users\jetha\AppData\Local\Temp\ipykernel_29616\4033868947.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df = df.interpolate()

In [29]:
#save the cleaned data to the CSV file
df.to_csv("MandirMarg_2018_2023.csv", index=False)